if SHIELD_SINGULARITY_LEFT

config ZMK_KEYBOARD_NAME
    default "Singularity_L"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SINGULARITY_LEFT || SHIELD_SINGULARITY_RIGHT

config ZMK_SPLIT
    default y

endif