// includes modules to enable syntax use.
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Makes layers and sets them to a num value.
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

#define NONE 0

// Enables keymap config and defines the keymap.

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
// | PAGE UP |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |  LBRCT  |  RBRCT |  BSPACE |
// | PAGE DN |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |  ENTER |
// | DELETE  |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |  R CTRL | R SHIFT | MO LOWER |
//       | L CTRL  |   GUI   |                       |  L ALT  |  SPACE  |                                          |  SPACE |                    |  R CTRL | MO RISE |  R ALT  |
//
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            bindings = <
    &kp PAGE_UP   &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T                  &kp Y    &kp U     &kp I     &kp O     &kp P     &kp LBKT   &kp RBKT  &kp BSPC
    &kp PAGE_DOWN   &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G                  &kp H    &kp J     &kp K     &kp L     &kp SEMI  &kp SQT    &kp RET   &none
    &kp DEL     &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &kp B                  &none &kp N    &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHIFT &mo LOWER &none
    &kp LCTRL   &kp LGUI   &kp LALT &none    &none     &none     &kp SPACE              &none    &kp SPACE &none     &kp RCTRL &none     &mo RAISE  &none     &kp RALT
            >;
        };

        lower_layer {

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
// | PAGE UP |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |  LBRCT  |  RBRCT |  BSPACE |
// | PAGE DN |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |  ENTER |
// | DELETE  |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |  R CTRL | R SHIFT | MO LOWER |
//       | L CTRL  |   GUI   |                       |  L ALT  |  SPACE  |                                          |  SPACE |                    |  R CTRL | MO RISE |  R ALT  |
//
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            bindings = <
    &kp PAGE_UP   &kp ESC    &kp N1   &kp N2   &kp N3    &kp N4    &kp N5                 &kp N6   &kp N7    &kp N8    &kp N9    &kp N0    &kp LBKT   &kp RBKT  &kp BSPC
    &kp PAGE_DOWN   &kp TAB    &kp F1   &kp F2   &kp F3    &kp F4    &kp F5                 &kp F6   &kp F7    &kp F8    &kp F9    &kp F10   &kp F11    &kp F12   &none
    &kp DEL     &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &bt BT_CLR_ALL         &none &kp N    &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHIFT &mo LOWER &none 
    &kp LCTRL &kp LGUI   &kp LALT &none    &none     &none     &kp SPACE              &none    &kp SPACE &none     &kp RCTRL &none     &mo RAISE  &none     &kp RALT
            >;
        };

        rise_layer {

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
// | PAGE UP |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |  LBRCT  |  RBRCT |  BSPACE |
// | PAGE DN |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |  ENTER |
// | DELETE  |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |  R CTRL | R SHIFT | MO LOWER |
//       | L CTRL  |   GUI   |                       |  L ALT  |  SPACE  |                                          |  SPACE |                    |  R CTRL | MO RISE |  R ALT  |
//
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            bindings = <
    &kp PSCRN    &kp ESC    &kp N1         &kp UP_ARROW   &kp N3          &kp N4    &kp N5                 &kp N6   &kp N7    &kp N8    &kp N9    &kp N0    &kp LBKT   &kp RBKT  &kp BSPC
    &kp PAGE_DOWN  &kp TAB    &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp F4    &kp F5                 &kp F6   &kp F7    &kp F8    &kp F9    &kp F10   &kp F11    &kp F12   &none
    &kp DEL      &kp LSHIFT &kp Z          &kp X          &kp C           &kp V     &bt BT_CLR_ALL         &kp N    &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHIFT &mo LOWER &none
    &kp LCTRL    &kp LGUI   &kp LALT       &none          &none           &none     &kp SPACE              &none    &kp SPACE &none     &kp RCTRL &none     &mo RAISE  &none     &kp RALT
            >;
        };
    };
};
